*{
  margin: 0;
  padding: 0;
}
.red{
  color: red;
}
.green{
  color: green;
}
.block{
  display: block !important;
}
.none{
  display: none !important;
}
.inblock{
  display: inline-block;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
}
.justifyBetween{
  justify-content: space-between;
}
.justifyAround{
  justify-content: space-around;
}
.alignCenter{
  align-items: center;
}

